.premium {
  width: 50%;
  border: 1px solid black;
}

.trialDays,
.numbers,
.users,
.modules,
.continue {
  width: 70%;
  margin: auto;
}

.trialDays {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.NGN {
  display: flex;
  flex-direction: column;
}

.numbers {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.continue {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.continue p {
  color: red;
  opacity: 0.3;
  font-size: 13px;
  font-weight: 700;
}

.continue button {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  background: rgb(250, 250, 38);
  font-weight: bold;
  font-size: 13px;
}

.basic p {
  color: grey;
  font-size: 10px;
}

.users {
  margin-top: 20px;
}

.numUsers {
  border: 1px solid #FFFFFF;
  -webkit-box-shadow: -5px 5px 5px -3px rgb(169, 169, 241);
  box-shadow: -5px 5px 5px -3px rgb(169, 169, 241);  
  width: 50%;
}

.modules {
  display: flex;
  flex-direction: column;
  border-bottom: 1px dashed grey;
  margin-top: 30px;
  padding-bottom: 20px;
}

.modules hr {
  color: grey;
  width: 20px;
  width: 100%;
}
