.premium {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px solid black;
}

.trialDays,
.numbers,
.users,
.modules,
.continue {
  width: 70%;
  margin: auto;
  border: 1px solid red;
}

.trialDays {
    display: flex;
    justify-content: space-between;
}

.NGN {
  display: flex;
  flex-direction: column;
}
